

<style>
body {

  
  padding: 10px;
  background: #B6B6B4;
  align-items: center;
  
 
}
.header {
  padding: 30px;
  text-align: center;
  background: #1ee494;
}

.header h1 {
  font-size: 50px;
}

.button-35 {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-35:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}
/*post container */
.form {
  width: 60%;
  height: 60%;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #ddd;
  border: 1px solid #ffffff36;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(10px);
  
}


/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color:  #000000;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: red;
  color: black;
}
/* Style for avatars */
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Default style for avatars without an image */
.default-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.post {
  display: flex;
  flex-wrap: wrap;
  background-color: #b062ea;
  border-redius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  
}


.bg-img {
  /* The image used */
  background-color: WHITE;

  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
}
label.logo{
  color: #FF007F;
  font-size: 35px;
  line-height: 10px;
  padding: 0 100px;
  font-weight: bold;
  float: right;
}

</style>

<div class="header">
  <b><label class="logo">DesignX</label></b>
      
  <h1>Create Your Own Beautiful Blog</h1>
  <p>Here you can see others blog and also you can add your blogs</p>
  <h1>
  <button class="button-35" role="button"><%= link_to ' Create Your Blog', new_post_path %></button>
  </h1><b>
  <% if @current_user %>
    <p>Logged in as: <%= @current_user.email %></p>
  <% else %>
    <p>Not logged in</p>
  <% end %></b>
</div>
<div class="topnav">
  <a href="#">Home</a>
  
  <% if user_signed_in? %>
    <a href="#" style="float:right">
    <%= button_to 'Signout', destroy_user_session_path, method: :delete, form: {turbolink: false} %>
    </a>
  <% else %>
    <a href="#" style="float:right">
    <%= link_to 'Sign In', new_user_session_path %>
    </a>
  <% end %>
  

</div>

<div class="bg-img">

  <ul style="font-size:18px">
    <% @posts.each do |post| %>
      <li>
       
        <div class="post">
          <% if post.user.avatar? %>
            <%= image_tag post.user.avatar.url, class: "avatar" %>
          <% else %>
            <div class="default-avatar"><img src="https://tse3.mm.bing.net/th?id=OIP.51xTX_-j8aYEbFoF7UkScQHaHa&pid=Api&P=0&h=180" alt="default-avatar" class="default-avatar"></div>
          <% end %>
          <b>
          <p><%= post.user.id %> - <%= post.user.email %></p>
          </b>
          
        </div>
          <h1><%= link_to post.title, post_path(post) %></h1>
          <h3><p>Posted on: <%= post.created_at.strftime("%B %e, %Y at %l:%M %p") %></p></h3>
          <p><%= truncate(post.content, length: 500) %></p>
          
          <% if post.image.present? %>
            <%= image_tag post.image.url ,width: "30%" %>
          <% end %>

          <% if post.video.present? %>
            <video controls , width="30%">
              <source src="<%= post.video.url %>" type="video/mp4">
            </video>
          <% end %>
          <div class="button">
            <% if post.user == current_user %>
              <%= form_for(post, :html => { :method => :delete, :remote => true, data: { confirm: "Are you sure?"} }) do |f| %>
              <%= f.submit :value => "Delete" %>
              <% end %>
            <% end %>
          </div>  
          <p><%= link_to 'Read more', post_path(post) %></p>
      </li>

    <% end %>
  </ul>

</div>
