

<style>
body {

  background-color: sky;
  padding: 10px;
  background: white;
}
.header {
  padding: 30px;
  text-align: center;
  background: yellow;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: green;
  color: black;
}

</style>

<div class="header">
  <h1>WELCOME TO BLOG APP</h1>
  <p>Here you can see others blog and also you can add your blogs</p>
</div>

<div class="topnav">
  <a href="#">Home</a>
  <a href="#">About</a>
  <a href="#">contact</a>
  <a href="#" style="float:right">logout</a>
</div>

<h1>
<%= link_to ' Create New Post', new_post_path %>
</h1>
<ul>
  <% @posts.each do |post| %>
    <li>
      <h2><%= link_to post.title, post_path(post) %></h2>
      <p><%= truncate(post.content, length: 500) %></p>
      <%= form_for(post, :html => { :method => :delete, :remote => true, data: { confirm: "Are you sure?"} }) do |f| %>
       <%= f.submit :value => "Delete" %>
      <% end %>

      
      
      <% if post.image.present? %>
        <%= image_tag post.image.url ,width: "30%" %>
      <% end %>

      <% if post.video.present? %>
        <video controls>
          <source src="/videos/<%= post.video %>" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      <% end %>
      
      <p><%= link_to 'Read more', post_path(post) %></p>
    </li>
  <% end %>
</ul>


